@model IEnumerable<Omadiko.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Products</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Brewery.BreweryName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Category.CategoryName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ABV)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Volume)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Discount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DiscountCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Popularity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SmallPhoto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LargePhoto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Country)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Brewery.BreweryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ABV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Volume)
                                        </td>
                                        <td>
                                            @Html.TextAreaFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Discount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DiscountCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Popularity)
                                        </td>
                                        <td>
                                            <img src="@Url.Content(item.SmallPhoto)" width="150" height="250">
                                        </td>
                                        <td>
                                            <img src="@Url.Content(item.LargePhoto)" width="150" height="250">
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Country)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
