@model IEnumerable<Omadiko.Entities.Beer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Popularity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </th>
        <th></th>
    </tr>

@foreach (var beer in Model) {
    <tr>
        <td>
            @beer.Name.Replace("_", " ")
        </td>
        <td>
            @Html.DisplayFor(modelItem => beer.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => beer.Popularity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => beer.Description)
        </td>
        <td>
            <img style="width:100px;" src="@beer.PhotoUrl" alt="Alternate Text" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= beer.BeerId }) |
            @Html.ActionLink("Details", "Details", new { id= beer.BeerId }) |
            @Html.ActionLink("Delete", "Delete", new { id= beer.BeerId })
        </td>
    </tr>
}

</table>
