@model Omadiko.Entities.ViewModels.ArticleCommentsUserViewModel
@{
    ViewBag.Title = "SingleBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="single">
    <!-- Fake page loading -->
    <!-- <div id="fakeLoader"></div> -->
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Navigation -->
        <!-- Hero -->
        <div id="hero" class="single-page section" style="background-image: url(http://placehold.it/1500x500)">
            <br />
            <br />
            <!-- Content -->
            <div class="container">
                <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Welcome to the</h1>
                        <h2>Brewers bible</h2>
                    </div>
                </div>
            </div>

        </div>

        <!-- Section -->
        <div class="container-fluid dark section no-padding">
            <div class="container">
                <div class="row">
                    @if (Model == null)
                    {
                        <div class="col-sm-12">
                            <p class="author center-menu">Posted by Lee Grand <a href="#comments">Comments</a></p>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12">
                            <p class="author center-menu">Posted by Lee Grand <a href="#comments">@Model.Comments.Count() Comments</a></p>
                        </div>
                    }

                </div>
            </div>
        </div>

        <!-- Section -->
        <div class="container-fluid light section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 single-blog">                        
                        <img src="~/Template/images/pin.png" alt="Craft ale HTML template" />
                        <header>
                            <span class="date">@Model.Article.DateTime.ToString("dd MMMM")</span>
                            <h2>@Model.Article.Title</h2>
                        </header>
                        <p>@Model.Article.FullBlog</p>
                    </div>
                </div>
            </div>
        </div>
        @if (User.IsInRole("Admin") || User.IsInRole("Customer"))
        {
            <!-- Section -->
            <div class="container-fluid section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 id="comments">Comments</h3>
                        </div>
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="col-sm-12 user-comments">
                                <div class="row scrollme animateme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatey="75">
                                    <div class="col-sm-1">
                                        <img src="http://placehold.it/72x72" alt="Craft ale HTML template" />
                                    </div>
                                    <div class="col-sm-11">
                                        <h5>@comment.CustomerName,Post Comment</h5>
                                        <p>@comment.Comments</p>
                                        <span class="edit">
                                            <a href="#">Reply</a> | <a href="#">Edit</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Section -->

            <div class="container-fluid light section no-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 dark matchHeight">
                            <section class="alignMiddle padding-80-0 mobile-center">
                                <header>
                                    <h1>Leave a</h1>
                                    <h2>Comment</h2>
                                </header>
                                <p>A tough one to drink. The use of molasses and licorice is simply overwhelming and without balance.</p>
                            </section>
                            <div class="grey-background" style="background-image: url(http://placehold.it/750x565); background-size: cover;"></div>
                        </div>

                        <div class="col-sm-5 col-sm-push-1 matchHeight">
                            <section class="alignMiddle padding-80-0">
                                @using (Html.BeginForm("SingleBlog", "Home", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @*<input required type="text" id="name" name="name" placeholder="Name">
                                    <input required type="email" id="_replyto" name="_replyto" placeholder="Email">*@
                                    <textarea required name="comment" id="comment" placeholder="Comment" rows="5" style="text-transform:none;"></textarea>
                                    <input type="submit"  name="name" value="Post Comment" class="btn btn-default" />

                                }
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- Section -->
        <div class="container-fluid super-dark section no-padding">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
                    <a href="#"></a>
                    <i class="fa fa-facebook"></i>
                    <h4>Facebook</h4>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
                    <a href="#"></a>
                    <i class="fa fa-instagram"></i>
                    <h4>Instagram</h4>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
                    <a href="#"></a>
                    <i class="fa fa-linkedin"></i>
                    <h4>Linked In</h4>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
                    <a href="#"></a>
                    <i class="fa fa-twitter"></i>
                    <h4>Twitter</h4>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
                    <a href="#"></a>
                    <i class="fa fa-google-plus"></i>
                    <h4>Google +</h4>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 icon-grid share-this">
                    <a href="#"></a>
                    <i class="fa fa-pinterest"></i>
                    <h4>Pinterest</h4>
                </div>
            </div>
        </div>

        <!-- Footer -->


    </div>

    <script>
        
  
    </script>
    
</body>
</html>
