@model Omadiko.WebApp.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Phone Number";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>
    <!-- Fake page loading -->
    <div id="fakeLoader"></div>

    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Hero -->
        <div id="hero" class="single-page section" style="background-image: url(http://placehold.it/1500x500)">
            <br />
            <br />
            <!-- Content -->
            <div class="container">
                <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Add</h1>
                        <h2>Phone Number</h2>
                    </div>
                </div>
            </div>

        </div>
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div class="container-fluid white section cart">
            <div class="container">
                @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Add a phone number</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Number, new { @class = "login", placeholder = "(+30) Add Phone number", id = "phone",style="width:500px;" })
                </div>
                <div class="alert alert-info" style="display: none;"></div>
            </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Submit" />
                        </div>
                    </div>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
                </div>
            </div>
        </div>
    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>
    </body>
</html>
