@model Omadiko.WebApp.Models.CustomerProductViewModel
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>



    <!-- Fake page loading -->
    <div id="fakeLoader"></div>

    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Hero -->
        <div id="hero" class="single-page section" style="background-image: url(http://placehold.it/1500x500)">

            <!-- Content -->
            <div class="container">
                <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Continue to</h1>
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>

        </div>

        <!-- Section -->
        <div class="container-fluid dark section no-padding">
            <div class="container">
                <div class="row">
                    <ul class="horz-menu center-menu">
                        <li><span><a href="@Url.Action("Login","Account")">Login</a></span></li>
                        <li><span><a href="@Url.Action("CheckOut","ShoppingCart")">Billing</a></span></li>
                        <li><span><a href="@Url.Action("OrderDetails","ShoppingCart")">Shipping</a></span></li>
                        <li class="active"><span><a href="@Url.Action("OrderInfo","ShoppingCart")">Order info</a></span></li>
                        <li><span><a href="@Url.Action("PaymentInfo","ShoppingCart")">Payment info</a></span></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Section -->
        <div class="container-fluid white section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <header class="centred">
                            <h1>Enter billing</h1>
                            <h2>Details</h2>
                        </header>
                        <hr class="space-40" />
                        <!-- Form start -->
                        @using (Html.BeginForm("CheckOut", "ShoppingCart", FormMethod.Post))
                        {
                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" required name="CustomerFirstName" placeholder="First name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" required name="CustomerLastName" placeholder="Last name">
                                </div>
                            </div>                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" required name="customeremail" placeholder="Email address">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" required name="customerphone" placeholder="Telephone">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.EnumDropDownListFor(x => x.Country)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" name="customeraddress" required placeholder="Town/City">
                                    <input type="text" name="customeraddress2" required placeholder="Address  ">
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-6">
                                    <input type="text" name="postalcode" required placeholder="Postcode">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input id="createaccount" type="checkbox"> Create account?
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 btn-wrap">
                                    <a href="@Url.Action("Index","ShoppingCart")" class="btn btn-grey"><span>Previous</span></a><a href="@Url.Action("OrderDetails","ShoppingCart")" ><span><input type="submit" name="name" value="Next" class="btn btn-default" /></span></a>
                                </div>
                            </div>
                        }
                        <!-- Form end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
    </div>
    <script>
        document.getElementById('createaccount').onclick = function() {
            if (this.checked == true)
                window.location = '@Url.Action("Register","Account")';
}
    </script>
</body>
</html>
