@model Omadiko.Entities.Order
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>



    <!-- Fake page loading -->
    <div id="fakeLoader"></div>

    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Hero -->
        <div id="hero" class="single-page section" style="background-image: url(http://placehold.it/1500x500)">

            <!-- Content -->
            <div class="container">
                <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Continue to</h1>
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>

        </div>

        <!-- Section -->
        <div class="container-fluid dark section no-padding">
            <div class="container">
                <div class="row">
                    <ul class="horz-menu center-menu">
                        <li><span><a href="@Url.Action("Login","Account")">Login</a></span></li>
                        <li><span><a href="@Url.Action("CheckOut","ShoppingCart")">Billing</a></span></li>
                        <li><span><a href="@Url.Action("OrderDetails","ShoppingCart")">Shipping</a></span></li>
                        <li class="active"><span><a href="@Url.Action("OrderInfo","ShoppingCart")">Order info</a></span></li>
                        <li><span><a href="@Url.Action("PaymentInfo","ShoppingCart")">Payment info</a></span></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Section -->
        <div class="container-fluid white section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <header class="centred">
                            <h1>Enter billing</h1>
                            <h2>Details</h2>
                        </header>
                        <hr class="space-40" />
                        <!-- Form start -->
                        @using (Html.BeginForm("CheckOut", "ShoppingCart", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" name="customername" placeholder="First name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="customername2" placeholder="Last name">
                                </div>
                            </div>
                            @*<div class="row">
            <div class="col-sm-12">
                <input type="text" placeholder="Company name" name="companyname">
            </div>
            </div>*@
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" name="customeremail" placeholder="Email address">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="customerphone" placeholder="Telephone">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select name="country">
                                        <option>Country</option>
                                        <option>--</option>
                                        <option>United Kingdom</option>
                                        <option>France</option>
                                        <option>Italy</option>
                                        <option>Germany</option>
                                        <option>Spain</option>
                                        <option>Poland</option>
                                        <option>Turkey</option>
                                        <option>Greece</option>
                                        <option>Switzerland</option>
                                        <option>Denmark</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" name="customeraddress" placeholder="Address line 1">
                                    <input type="text" name="customeraddress2" placeholder="Address line 2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select name="city">
                                        <option>Town / City</option>
                                        <option>--</option>
                                        <option>London</option>
                                        <option>Essex</option>
                                        <option>Manchester</option>
                                        <option>Liverpool</option>
                                        <option>Cornwall</option>
                                        <option>Birmingham</option>
                                        <option>Newcastle</option>
                                        <option>Kent</option>
                                        <option>Brighton</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" name="country" placeholder="County">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="postalcode" placeholder="Postcode">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="checkbox"> Create account?
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 btn-wrap">
                                    <a href="@Url.Action("Index","ShoppingCart")" class="btn btn-grey"><span>Previous</span></a> <a href="@Url.Action("OrderDetails","ShoppingCart")" class="btn btn-default" style="height:48px; width:150px;"><span><input type="submit" name="name" value="Next" /></span></a>
                                </div>
                            </div>
                        }
                        <!-- Form end -->


                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
    </div>
</body>
</html>
