@*@model Omadiko.Entities.OrderDetails*@
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    <!-- Fake page loading -->
    <div id="fakeLoader"></div>

    <!-- Wrapper -->
    <div class="wrapper">



        <!-- Hero -->
        <div id="hero" class="single-page section" style="background-image: url(http://placehold.it/1500x500)">

            <!-- Content -->
            <div class="container">
                <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Continue to</h1>
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>

        </div>

        <!-- Section -->
        <div class="container-fluid dark section no-padding">
            <div class="container">
                <div class="row">
                    <ul class="horz-menu center-menu">
                        <li><span><a href="@Url.Action("Login","Account")">Login</a></span></li>
                        <li><span><a href="@Url.Action("CheckOut","ShoppingCart")">Billing</a></span></li>
                        <li><span><a href="@Url.Action("OrderDetails","ShoppingCart")">Shipping</a></span></li>
                        <li class="active"><span><a href="@Url.Action("OrderInfo","ShoppingCart")">Order info</a></span></li>
                        <li><span><a href="@Url.Action("PaymentInfo","ShoppingCart")">Payment info</a></span></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Section -->
        <div class="container-fluid white section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <header class="centred">
                            <h1>Enter</h1>
                            <h2>Payment details</h2>
                            <h1>Payment has been succesfully completed!</h1>
                            <h1>See Order Details</h1>
                        </header>
                        <hr class="space-40" />
                        @*<table>
                            <thead>
                                <tr>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>ProductName</th>
                                    <th>Total Amount</th>
                                    <th>Order Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Price</td>
                                    <td>@Model.Quantity</td>
                                    <td>@Model.ProductName</td>
                                    <td>@Model.TotalAmount</td>
                                    <td>@Model.OrderNumber</td>
                                </tr>
                            </tbody>
                        </table>*@

                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
    </div>
    @*<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>*@
    <script>
      paypal.Buttons({

        // Sets up the transaction when a payment button is clicked
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '77.44' // Can reference variables or functions. Example: `value: document.getElementById('...').value`
              }
            }]
          });
        },

        // Finalize the transaction after payer approval
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
            // Successful capture! For dev/demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
               /* alert('Transaction '+ transaction.status + ': ' + transaction.id +);*/


             var element = document.getElementById('paypal-button-container');
             element.innerHTML = '';
             element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
          });
        }
      }).render('#paypal-button-container');
    </script>
</body>
</html>



