@using Omadiko.WebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>

    <!-- Fake page loading -->
    <div id="fakeLoader"></div>

    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Hero -->
        <div id="hero" class="carousel slide carousel-fade section no-padding" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#hero" data-slide-to="0" class="active"></li>
                <li data-target="#hero" data-slide-to="1"></li>
                <li data-target="#hero" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active" style="background-image: url('../../Template/images/nordic-beer-markets.jpg')">
                   
                    <!-- Content -->
                    <div class="container">
                        <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                            <div class="col-md-10 col-md-offset-1">
                                <h1>Over one hundred flavours of</h1>
                                <h2>Specially <br />crafted beer</h2>
                                <a href="@Url.Action("OurBeer","Home")" class="btn btn-default">
                                    <span>Explore</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url('../../Template/images/US-craft-beer-slows-while-spirits-take-off_wrbm_large.jpg');">
                    <!-- Content -->
                    <div class="container">
                        <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                            <div class="col-md-10 col-md-offset-1">
                                <h1>We use only the finest ingredients to create the</h1>
                                <h2>The perfect <br />craft beer</h2>
                                <a href="~/Template/main/#" class="btn btn-default">
                                    <span>Explore</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url('../../Template/images/Brazil-ranked-number-2-most-innovative-craft-beer-market-Mintel.jpg');">
                    <!-- Content -->
                    <div class="container">
                        <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                            <div class="col-md-10 col-md-offset-1">
                                <h1>The perfect template to compliment</h1>
                                <h2>Your brewery</h2>
                                <a href="~/Template/main/#" class="btn btn-default">
                                    <span>Explore</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Section -->
        <div class="container-fluid white section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <header class="centred">
                            <h1>Login or checkout</h1>
                            <h2>As a guest</h2>
                        </header>
                        <hr class="space-40" />
                        <p class="centred">If you have already registered, please, enter your details in the boxes below. If you are a new customer, please, go to the Billing &amp; Shipping section.</p>
                        <hr class="space-40" />
                        <div class="login">
                            <div class="row" id="login">
                                <div class="col-md-8">
                                    <section id="login-form">
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <h4>Use a local account to log in.</h4>
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group ">                                            
                                                <div class="col-md-10  ">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "login", style = "text-transform:none;width:200px;", placeholder = "Email-Address" })
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group ">                                              
                                                <div class="col-md-10 ">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "login", style = "text-transform:none",placeholder="Password" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.RememberMe)
                                                        @Html.LabelFor(m => m.RememberMe)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Log in" class="btn btn-default"  />
                                                </div>
                                            </div>
                                            <p>
                                                @Html.ActionLink("Register as a new user", "Register")
                                            </p>
                                            //Enable this once you have account confirmation enabled for password reset functionality
                                            <p>
                                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                            </p>
                                        }
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section id="socialLoginForm">
                                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                    </section>
                                </div>                               
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-sm-12 btn-wrap">
                                <a href="checkout-2.html" class="btn btn-default"><span>Next</span></a>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->


    </div>

    
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>

	var scroll = new SmoothScroll('a[href*="#"]');
</script>